body {
    background-color: red;

    header {
        background-color: aqua;
        padding: 0 0;
        margin: 0 0;
        display: inline;
        width: 100vw;
    }
    ul.aa:{
        
    }

}

@media screen and (max-width: 1000px) {
    body {
        background-color: blue;
    }
}